{{! Code Cited }}
{{!starter code from osu-cs340 nodejs dev guide; modified to fit Customer entity }}
{{!Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app }}
{{! Authors: George Kochera et al. }}
{{! Date accessed: 11/8/22 }}


<link rel="stylesheet" href="./css/style.css"> 


<nav align="center" style=" padding-bottom: 10pt; padding-top: 10pt; width:50%; margin-right:25%; margin-left:25%">
    <a href="index.html">Home Page</a>
    <a href="/locations">Locations</a>
    <a href="/customers">Customers</a>
    <a href="/vendors">Vendors</a>
    <a href="/events">Events</a>
    <a href="/customer-memberships">Customer Memberships</a>
    <a href="/vendor-locations">Vendor Locations</a>
</nav>

<h1>Customers</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="people-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, display the customer's attributes, and a delete button --}}
        {{#each data}}
        <tr data-value={{this.customer_id}}>
            <td>{{this.customer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.notes}}</td>
            <td>{{this.active}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deletePerson({{this.customer_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_person.js"></script>

{{!-- Form to add a record to the table using AJAX --}}
<h2>Adding a Customer Record</h2>
<p>To add a new Customer to the database, please enter their information below and click 'Submit'!</p>
<form id="add-person-form-ajax">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-phone">Phone: </label>
    <input type="number" name="input-phone" id="input-phone">

    <label for="input-notes">Notes: </label>
    <input type="text" name="input-notes" id="input-notes">

    <label for="input-active">Active: </label>
    <input type="number" name="input-active" id="input-active">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_person.js"></script>




<h2>Updating A Customer's Information</h2>
<p>To update a specific Customer information select their name from the drop-down menu on the left and input the required values</p>
<form id="update-person-form-ajax">

    <label for="input-fullname">Full name: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <label for="update-phone">Phone: </label>
    <input type="text" name="update-phone" id="update-phone">

    <label for="update-notes">Notes: </label>
    <input type="text" name="update-notes" id="update-notes">


    <label for="update-active">Active: </label>
    <select name="update-active" id="update-active">
        <option>1</option>
        <option>0</option>
    </select>
    

    <label for="update-email">Email: </label>
    <input type="text" name="update-email" id="update-email">

    <input type="submit">



</form>

<script src="./js/update_person.js"></script>
